#primary {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* 

  O (nesting: alinhamento css) é o que têm atualmente de mais moderno no CSS. 
  Antigamente eu poderia fazer assim, que também funciona: 
  #primary div:nth-child(2) {

  }

  Também funciona, mas desta forma é o que temos de mais atual:
  div:nth-child(2) {

  }
  */

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
}